@import '../../scss/_variables';

.greenhouse {
  height: calc(var(--vh, 1vh) * 100 - 20px);
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.interactiveSection {
  position: relative;
  width: 100%;
  height: 100%; 
  background-color: transparent;

  @media (max-height: 767px) and (orientation: landscape) {
    display: none;
  }
}

.animationContainer {
  svg {
    position: relative;
    z-index: 10;
  }
}

.animationContainer, .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);
  object-fit: contain;
  padding-top: 30px;

  @media (max-width: 768px) {
    padding-top: 20px;
  }

  @media (max-width: 768px) {
    padding-top: 10px;
  }

  @media (max-height: 767px) and (orientation: landscape) {
    display: none;
  }
}

.animationContainer {
  background-color: $background;
}

.layer {
  filter: brightness(80%);
  transition: all 0.3s ease-in-out;
  &.active {
    // добавьте стили для подсветки
    filter: brightness(150%);
    transform: scale(1.05);
  }
}