@import '../../scss/_variables';

.greenhouse {
  height: calc(var(--vh, 1vh) * 100 - 20px); // Высота зависит от переменной --vh
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.interactiveSection {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 30%; // Пропорциональное соотношение
  background-color: transparent;
}

.animationContainer {
  svg {
    position: relative;
    z-index: 10;
  }
}

.animationContainer, .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);
  object-fit: contain;
  padding-top: 20px;
}

.animationContainer {
  background-color: #000000;
}

