@import "../../scss/_variables";

.qaCard {
  background-color: $background;
  border-bottom: 1px solid rgba($white, 0.5);
  cursor: pointer;
  padding: 40px 0;
  font-size: 22px;
  transition: all $duration ease-in-out;

  @media (max-width: 1024px) {
    padding: 20px 0;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.qaBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.qaTitle {
  margin-right: 40px;
  flex: 1;
  color: $white;
  font-weight: 500;
}

.icon img {
  width: 12px;
  height: 12px;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, margin 0.3s ease;
  color: $white;
  margin-right: 52px;
  opacity: 0.6;
  font-weight: 500;
}

.active {
  height: auto;
  padding-bottom: 40px;

  @media (max-width: 1024px) {
    padding-bottom: 20px;
  }
}

.activeContent {
  max-height: 1000px;
  margin-top: 20px;
}
