.swiper {
   display: flex;
   position: relative;
   cursor: pointer;
   z-index: 5;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 30px;
   transition: all 0.3s ease-in-out;

   &:hover {
     transform: scale(0.95);
     .swiper__icon {
       transform: translateY(5px);
     }
   }

   &__text {
    font-size: 18px;
 
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
 
  &__icon {
    transition: all 0.3s ease-in-out;
    @media (max-width: 991px) {
      width: 25px;
    }
  }
 }
