@import "../../scss/_variables";

.textInformation {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin: 0; 

  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    .navbar, .form-box {
      display: none;
    }
    
    nav {
      display: block;
    }
  }
}

