@import "../../scss/_variables";

.textInformation {
  display: grid; /* Используем грид для размещения карточек */
  grid-template-columns: repeat(6, 1fr); /* Шесть столбцов на больших экранах */
  grid-column-gap: 20px; // Отступы между колонками
  grid-row-gap: 10px; // Отступы между рядами
  margin: 0; /* Убираем внешние отступы */

  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    .navbar, .form-box {
      display: none;
    }
    
    nav {
      display: block;
    }
  }
}

