@import "../../scss/_variables";

.root {
  background-color: $black;
  color: $white;
  height: calc((100vh*2) - 90px);
}

.home {
  height: calc(var(--vh, 1vh) * 100 - 70px); // Высота зависит от переменной --vh
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;

  @media (orientation: portrait) {
    row-gap: 100px;
  }

  @media (max-width: 481px) {
    row-gap: 20px;
  }

  &__main {
    display: flex;
    flex-direction: row;
    flex: 1;

    @media (orientation: portrait) {
      flex-direction: column;
      row-gap: 100px;
    }

    @media (max-width: 481px) {
      row-gap: 0;
    }

  }

  &__section {
    z-index: 5;
    flex: 1;
    padding-top: 80px;

    @media (orientation: portrait) {
      flex: 0;
    }
  }

  &__logocontainer {
    display: block;
    position: relative;
    flex: 1;
    height: calc(100% - 100px);
    margin: auto 40px;

    @media (max-width: 481px) {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__block {

    @media (orientation: portrait) {
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }

    @media (max-width: 481px) {
      width: 100%;
      text-align: left;
    }
  }

  &__title {
    font-size: 90px;
    line-height: 1.1;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: 'DM Mono';
    font-weight: 500;
    margin-bottom: 20px;
    color: $white;

    @media (max-width: 1440px) {
      font-size: 70px;
    }

    @media (max-width: 1160px), (max-height: 750px) {
      font-size: 60px;
    }

    @media (max-width: 991px) {
      font-size: 50px;
    }

    @media (max-width: 481px) {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-family: 'Montserrat';
    font-size: 27px;
    line-height: 1.5;
    color: $white;
    font-weight: 500;

    @media (max-width: 1440px) {
      font-size: 24px;
    }

    @media (max-width: 1160px), (max-height: 750px) {
      font-size: 21px;
    }

    @media (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__picture {
    display: none;
    position: absolute;
    right: -20px;
    bottom: 0;
    height: 105%;
    width: auto;
    opacity: 0.9;

    @media (orientation: portrait) {
      display: none;
    }

    @media (max-aspect-ratio: 5/3) {
      opacity: 0.3;
    }
  }
}
