@import "../../scss/_variables";

.qa {
  padding: 20px;

  @media (max-width: 768px) {
    padding: 0;
  }

  &__title {
    font-size: 40px;
    color: $white;
    text-align: left;
    margin: 40px 0;
    font-weight: bold;

    @media (max-width: 1440px) {
      margin: 30px 0;
      padding-top: 20px;
      font-size: 32px;
    }

    @media (max-width: 768px) {
      font-size: 24px;

      margin: 20px 0;
    }
  }

  &__cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px; /* Уменьшил отступ между карточками */
    width: 100%;

    @media (max-width: 768px) {
      gap: 0 40px;
      grid-template-columns: repeat(auto-fit,  1fr);
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 0;

    @media (max-width: 768px) {
      column-gap: 10px;
    }
  }
}
