@import '../../scss/_variables';

.header {
  position: fixed;
  top: 20px;
  background-color: $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  width: calc(100% - 40px);

  &__logo {
    margin: auto 0;
    width: 60px;

    h1 {
      cursor: pointer;
      font-family: 'DM Mono';
      font-size: 24px;
      color: $white;
      font-weight: 500;
    }
  }

  &__navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  &__button {
    color: $white;
    font-family: 'DM Mono';
  }

  &__formBox {
    width: 60px;
    display: flex;
    justify-content: flex-end; // Исправлено: "end" вместо "end"
    align-items: center;
  }

  &__buttonBox {
    // Пусто
  }
}

.languageSelector {
  // Стили для селектора языка
}

.toggleBtn {
  // Стили для кнопки переключения
}

.active {
  // Стили для активного элемента
}
