
@import './variables.scss';
@import './libs/normalize.scss';

body {
  background-color: $background;
  overflow: hidden;
  font-family: Montserrat;
}

.wrapper {
  width: calc(100vw - 40px);
  height: calc((100vh*2) - 90px);
  background-color: $black;
  margin: 20px auto;
  margin-top: 70px;
  position: relative;
}
